/*give each elt a class, dont refer by elt type*/
/*css reset*/
/*make buttons divs to avoid rectangular shadow- also easier to style*/

body {
    background-color: #EEEEEE;
}

.project-title {
    margin: 10px 30px;
    color: #42827E;
    font-family: "HelveticaNeue-Light";
    font-size: 200%;
    text-shadow: 2px 2px #FFFFFF;
}

#tooltip {
    left: 286px; 
    top: 185px;;
    position: absolute;
    width: auto;
    height: 39px;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4);
    box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4);
    pointer-events: none;
    font-family: "HelveticaNeue-Light";
}

/* needed? */
#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: "HelveticaNeue-Light";
    font-size: 16px;
    line-height: 20px;
}

#slider-tooltip {
    left: 286px; 
    top: 705px;;
    position: absolute;
    width: auto;
    height: 10px;
    padding: 5px;
    pointer-events: none;
    font-family: "HelveticaNeue-Light";
}

/* needed? */
#slider-tooltip.hidden {
    display: none;
}

#slider-tooltip p {
    margin: 0;
    font-family: "HelveticaNeue-Light";
    font-size: 8px;
    line-height: 20px;
}

#slider {
    width: 950px;
    margin-left: 30px;
}

#slider-title {
    margin-left: 30px;
    margin-bottom: 30px;
    color: #42827E;
    font-family: "HelveticaNeue-Light";
}

/*not working*/
#handle-one {
    color: white;
}

.map {
    background-color: #FFFFFF;
    margin: 10px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.d3-slider-axis {
    background-color: #EEEEEE;
}

/*not working*/
.d3-slider-axis>text {
    color: #FFFFFF;
}

input {
    margin: 8px 5px 5px 25px;
    background: #00A89D;
    color: #FFFFFF;
    font-family: "HelveticaNeue-Light";
    float: left;
    height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4);
    box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4);
    font-size: 90%;
}

/*not working as intended*/
#filter-by-magnitude {
    margin: -44px 5px 8px 25px;
    float: left;
    width: 430px;
    height: 100px;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4);
    box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.4);
    font-family: "HelveticaNeue-Light";
}

/*.plates {
    fill: none;
    stroke: #000;
    opacity: 0.5;
}