/*give each elt a class, dont refer by elt type*/
/*css reset*/
/*make buttons divs to avoid rectangular shadow- also easier to style*/

body {
    background-color: #FFFFFF;
    font-family: 'Droid Sans', sans-serif;
}

/*.overlay {
  fill: none;
  pointer-events: all;
}*/

#title {
    height: 74px;
    width: 173px;
    color: #42827E;
    font-size: 130%;
}

#tooltip {
    left: 286px; 
    top: 185px;;
    position: absolute;
    width: auto;
    height: 55px;
    padding: 5px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: .5px .5px 1px rgba(255,255,255, 0.3);
    -moz-box-shadow: .5px .5px 1px rgba(255,255,255, 0.3);
    box-shadow: .5px .5px 1px rgba(255,255,255, 0.3);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}

#slider-tooltip {
    top: 526px;;
    position: absolute;
    width: 100px;
    right: 10%;
    height: 15px;
    pointer-events: none;
    color: white;
}

#slider-tooltip.hidden {
    display: none;
}

#slider-div {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    margin-top: 18px;
}

#recent-button {
    float: left;
    margin-right: 10px;
    width: 200px;
    color: #42827E;
}

#historical-button {
    float: right;
    width: 218px;
    color: #42827E;
}

.map {
    background-color: #EEEEEE;
    position:absolute;
    left: 50%;
    margin: -27px 0px 10px -480px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

./*main-g {
    pointer-events: all;
}*/

.d3-slider-axis {
    background-color: #FFFFFF;
}

.filter {
    float: left;
    width: 300px;
    height: 60px;
    margin-top: -13px
}

#historical-filter {
    float: right;
    width: 200px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 583px;
}

#container1 {
    height: 40px;
    margin-top: 485px;
}

#container2 {
    height: 60px;
    margin-top: 12px;
}

#recent-filter {
    text-align: justify;
}

.rsvg g {
    display: inline-block;
}

#recent-filter:after {
    width: 100%
    display: inline-block;
}

.more {
  outline: none;
  display: block;
  width: 100%;
  padding: 6px 0;
  text-align: center;
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #fff;
  background-repeat: repeat-x;
  background-position: left top;
  font-size: 14px;
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
  height: 22px;
  line-height: 1.5em;
  margin-bottom: 6px;
}

.more:hover {
  border: 1px solid #bbb;
  text-decoration: none;
  background-position: left -78px;
}

.more:active {
  color: #666;
  background-position: left -38px;
}

.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}