/*path {
}*/

.pin {
    margin-top: 30px;
}

g {
    width: 1250px;
    height: 830px;
}

rect {
  border: solid 1px #aaa;
}

#slider {
    width: 920px;
    margin-left: 20px;
}

/*
.plates {
    fill: none;
    stroke: #000;
    opacity: 0.5;
}

.quake {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 1.5px;
}*/