<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title></title>
    <link rel="stylesheet" type="text/css"href="static/css/style.css" media="screen"/>
</head>

<body>
    <script src="static/d3/d3.v3.min.js"></script>
    <script src="static/js/topojson.v1.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/earth.js"></script>
    <script src="static/d3Slider/d3.slider.js"></script>
    <link rel="stylesheet" href="static/d3Slider/d3.slider.css"/>
    <script type="text/javascript" src="static/js/socket.io.min.js"></script>

    <input type="button" name="show-all-quakes" id="show-all-quakes" value="Show all M6+ earthquakes in the past 500 years"
    <br>
    <form id="broadcast" method='GET' action='#'>
        <input type="button" name="broadcast_data" id="broadcast_data" value="Show realtime earthquakes">
    </form>
    <br>
    <br>
    <div id="slider-title">Earthquakes of the Last 500 Years (M6+)</div>
    <br>
    <div id="slider"></div>

    <script type="text/javascript">
        var dataset = 1;

        $(document).ready(function() {
            // TODO promises- load plate boundaries only after maps and points ready- wait for callback
            dataset = displayHistoricalQuakes();
            var socket = io.connect("http://" +  document.domain + ":" + location.port);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            socket.on("new_earthquake", function(response){
                console.log(response);
            })
            $("form#broadcast").click(function(e) {
                console.log("broadcast");
                // displayRecentQuakes(points); // how does earth.js know points from backend
            });
            $("#show-all-quakes").click(function(e) { 
                displayAllPoints();
            });
        });

    </script>
    
</body>
</html>