<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Seismic Globe</title>
	<style>
		body { margin: 0; overflow: hidden; background-color: #000; }
		.webgl-error { font: 15px/30px monospace; text-align: center; color: #fff; margin: 50px; }
		.webgl-error a { color: #fff; }
    </style>
</head>
<body>
	<div id="webgl"></div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="static/js/three.js"></script>
	<script src="static/js/Detector.js"></script>		
	<script src="static/js/TrackballControls.js"></script>	
	<script src="static/js/CSVToArray.js"></script>	
	<script src="static/js/earth.js"></script>

</body>
</html>