<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title></title>
    <link rel="stylesheet" type="text/css"href="static/style.css" media="screen"/>
</head>

<body>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/earth.js"></script>
    <script src="static/d3Slider/d3.slider.js"></script>
    <link rel="stylesheet" href="static/d3Slider/d3.slider.css"/>

    <br>
    <a href="" id="show-realtime-quakes" value="Quakes">
        Show realtime earthquakes
    </a>
    <br>
    <br>
    <div id="slider-title">Earthquakes of the Last 500 Years</div>
    <br>
    <div id="slider"></div>

    <script>
        var dataset = 1;

        $(document).ready(function() {
            displayMap();
            dataset = displayHistoricalQuakes();

            // $("#show-realtime-quakes").click(function(e) {
            //     e.preventDefault;
            //     displayRealtimeQuakes();
            // });
        });

    </script>
    
</body>
</html>